.avatar {
  transform: translateX(0);

  @media (max-width: 640px) {
    // display: none;
  }
}

.avatar-img {
  width: 25rem;
  @media (max-width: 640px) {
    width: 20rem;
  }
  // transform: translate(10px, 35px);
}

.avatar--background {
  background-color: var(--white);
  height: 1.5rem;
  width: 30rem;
  position: absolute;
  bottom: 0;
  @media (max-width: 640px) {
    width: 25rem;
  }
}

.avatar--inner {
  border-radius: 84% 38% 70% 43% / 55% 74% 59% 71%;
  background: linear-gradient(var(--secondary), var(--tertiary));
  border: 20px solid var(--primary);
  height: 15rem;
  width: 23rem;
  overflow: hidden;
  position: absolute;
  top: 8rem;
  z-index: -1;

  @media (max-width: 640px) {
    width: 18rem;
    height: 10rem;
  }
}

.avatar--inner.c2 {
  border-radius: 84% 38% 70% 43% / 55% 74% 59% 71%;
  background: transparent;
  border-left: 20px solid var(--primary);
  border-right: 20px solid var(--primary);
  border-bottom: 20px solid var(--primary);
  border-top: 20px solid transparent;
  height: 15rem;
  width: 23rem;
  z-index: 1;
  @media (max-width: 640px) {
    width: 18rem;
    height: 10rem;
  }
}
