.avatar--container {
  height: 28rem;
  width: 30rem;
  overflow: hidden;
  transform: translateY(9rem) translateX(-2rem);

  @media (max-width: 1120px) {
    transform: translateY(5rem) translateX(0);
  }

  @media (max-width: 640px) {
    display: none;
  }
}

.avatar--background {
  background-color: var(--white);
  height: 1.5rem;
  width: 30rem;
  position: absolute;
  bottom: 0;
}

.avatar--inner {
  border-radius: 84% 38% 70% 43% / 55% 74% 59% 71%;
  background-color: var(--secondary);
  border: 20px solid var(--primary);
  height: 15rem;
  width: 25rem;
  overflow: hidden;
  position: absolute;
  top: 10rem;
  z-index: -1;
}

.avatar--inner.c2 {
  border-radius: 84% 38% 70% 43% / 55% 74% 59% 71%;
  background-color: transparent;
  border-left: 20px solid var(--primary);
  border-right: 20px solid var(--primary);
  border-bottom: 20px solid var(--primary);
  border-top: 20px solid transparent;
  height: 15rem;
  width: 25rem;
  z-index: 1;
}

.avatar {
  width: 25rem;
  transform: translate(10px, 35px);
}
