@property --percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.closeButton {
  background: conic-gradient(var(--white) var(--percentage), var(--tertiary) 0);
  aspect-ratio: 1;
  display: flex;
  border: none;
  border-radius: 50%;
  padding: 4px;
  font: inherit;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  outline: inherit;
  font-size: 3rem;
  color: var(--white);
  justify-content: flex-end;
  z-index: 10;
  transition: --percentage 0.1s linear;

  &::before {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: inherit;
    background: var(--tertiary);
  }
  svg {
    z-index: 11;
  }

  &:hover {
    --percentage: 100%;
    svg {
      color: var(--white);
    }
  }

  @media (max-width: 640px) {
    font-size: 2rem;
  }
}
