.text {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;

  a {
    color: inherit;
    text-decoration: none;
    &::after {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.15s ease-in-out;
      background-color: var(--white);
    }

    svg {
      font-size: 2rem;
    }

    &:visited {
      color: inherit;
    }
    &:hover {
      @media (prefers-color-scheme: light) {
        filter: brightness(150%);
      }
      @media (prefers-color-scheme: dark) {
        filter: brightness(85%);
      }
    }
  }
  button:hover {
    @media (prefers-color-scheme: light) {
      filter: brightness(150%);
    }
    @media (prefers-color-scheme: dark) {
      filter: brightness(85%);
    }
  }

  &--dark {
    a {
      &:hover {
        @media (prefers-color-scheme: light) {
          filter: brightness(150%);
        }
      }
    }
  }

  &--tiny {
    font-size: 1.25rem;
  }
  &--small {
  }

  &--medium {
    @media (max-width: 640px) {
      font-size: 1.25rem;
    }
  }

  &--large {
    @media (max-width: 640px) {
      font-size: 1.5rem;
    }
  }

  &--huge {
    @media (max-width: 640px) {
      font-size: 2.5rem;
    }
  }

  &--way-huge {
    font-size: 8rem;
    @media (max-width: 1250px) {
      font-size: 8rem;
    }
    @media (max-width: 1120px) {
      font-size: 6rem;
    }
    @media (max-width: 990px) {
      font-size: 5rem;
    }
    @media (max-width: 640px) {
      font-size: 2.5rem;
    }
  }
  &--massive {
    font-size: 14rem;
    @media (max-width: 1250px) {
      font-size: 8rem;
    }
    @media (max-width: 1120px) {
      font-size: 6rem;
    }
    @media (max-width: 990px) {
      font-size: 5rem;
    }
    @media (max-width: 640px) {
      font-size: 2.5rem;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--spacing-small {
    margin: 2rem 0;
  }

  &--spacing-large {
    margin: 4rem 0;
  }

  &--light {
    font-weight: 200;
  }

  &--bold {
    font-weight: 900;
  }

  &--primary {
    color: var(--text-primary);
  }

  &--secondary {
    color: var(--text-secondary);
  }

  &--tertiary {
    color: var(--text-tertiary);
  }

  &--color-light {
    color: var(--text-light);
  }

  &--color-dark {
    color: var(--text-dark);
  }

  &--center {
    text-align: center;
  }

  &--italic {
    font-style: italic;
  }
}
