.text {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  & > * {
    margin: 0 0.5rem;
  }
  &--small {
    font-size: 1rem;
  }
  &--medium {
    font-size: 1.75rem;
  }
  &--large {
    font-size: 2.5rem;
  }
  &--huge {
    font-size: 5rem;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--spacing-small {
    margin: 2rem 0;
  }
  &--spacing-large {
    margin: 4rem 0;
  }
  &--light {
    font-weight: 200;
  }
  &--bold {
    font-weight: 900;
  }
  &--light-pink {
    color: var(--light-pink);
  }
  &--blue {
    color: var(--blue);
  }
  &--pink {
    color: var(--pink);
  }
  &--center {
    text-align: center;
  }
}
