.link {
  color: inherit;
  text-decoration: none;
  margin: 1rem 0;
  display: inline-block;
  box-shadow: inset 0 0 0 0 var(--pink);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    color: var(--pink-hover);
    text-decoration: underline;
    box-shadow: inset 200px 0 0 0 var(--pink);
    color: var(--light-pink);
  }
}
