@import url("https://use.typekit.net/jwm2svk.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --accent: #9ec0f0;
  --secondary-accent: #ed2b43;
  --dark: #334a6a;
  --primary: #1255b3;
  --secondary: #1a63c9;
  --dark-hover: #083c85;
  --white: #f7f7f8;

  // --purple: #cdb4db;
  // --white-hover: #fafbf9;
  // --accent: #eb5c6f;
  // --pink: #e2344b;
  // --light-blue: #bde0fe;
  // --blue: #3c91e6;
}
#root {
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "aktiv-grotesk", "space-grotesk", "Roboto", "SF Pro Text",
    "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: var(--primary);
  background-color: var(--white);
  margin: 0;

  @media (max-width: 640px) {
    padding: 0;
  }
}

button {
  color: inherit;
  border: unset;
  background: unset;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1;
  color: inherit;
}

h1 {
  font-size: 6rem;
  font-weight: unset;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  font-size: 1.5rem;
  line-height: 1.5;
}

.no-scroll {
  overflow: hidden;
}

.app {
  width: 100vw;
}
