:root {
  --purple: #cdb4db;
  --light-pink: #ffdfe9;
  --pink-hover: #fb749f;
  --pink: #ff5d8f;
  --light-blue: #bde0fe;
  --blue: #a2d2ff;
  --white: #fff6f9;
}
body {
  font-family: "Roboto", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  padding: 20px 20px 60px;
  color: var(--pink);
  background-color: var(--light-pink);
  margin: 0 auto;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}
