.cats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cat-card-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.single-cat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.cat-image {
    border: 0.5rem solid var(--pink);
    border-radius: 5px;
}