.contact {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 7rem;
  width: 22rem;
  border-radius: 31% 79% 31% 75%/69% 78% 55% 65%;
  border: 20px solid var(--primary);
  background-color: var(--secondary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  transform: translateY(5rem);

  @media (max-width: 1120px) {
    transform: unset;
  }

  &--content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
  &--background {
    background-color: var(--white);
    height: 1.5rem;
    width: 30rem;
    position: absolute;
    bottom: 0;
  }

  @media (max-width: 640px) {
    transform: unset;
    border-radius: 31% 79% 31% 75%/95% 78% 55% 65%;
    max-width: 21rem;
    border: 12px solid var(--secondary);
  }

  &--list-item {
    display: flex;
    gap: 1rem;
  }
}
