.header {
  margin: 0;
}
.header--title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 1;
}
.header--content {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.header--bio {
  transform: translateY(-10rem);
}
