.header {
  margin: 0;
}
.header--title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 1;
}
.header--content {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}

.header--bio {
  transform: translateY(-10rem);
  @media (max-width: 600px) {
    transform: translate(0);
    margin: 1rem;
  }
}

.header--name {
  @media (max-width: 600px) {
    display: flex;
  }
}
