.Greeting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: flex-end;

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
