.Footer {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid var(--secondary);
  padding: 2rem;
  margin: 0 8rem;
}

.contactContainer {
  display: flex;
  gap: 1rem;
  svg {
    margin-right: unset;
    color: var(--secondary);
  }
}
