.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 8rem;
  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

.nav--item {
}

.nav--list {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  gap: 1rem;

  @media (max-width: 640px) {
    justify-content: space-between;
  }
}
