.nav--item {
  font-weight: 800;
  font-size: 2rem;
}

.nav--list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  @media (max-width: 600px) {
    justify-content: space-between;
  }
}
